.bar{
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #E8E8E8;
    -webkit-app-region:drag;
    .icon{
        background: url(../../../../public/favicon.ico);
        background-size: 18px 18px;
        height: 18px;
        width: 18px;
        margin-left: 9px;
    }
}
