@import url(../../../../styles.less);
.sideMain{
    width: 45px;
    height: 100vh;
    // background-color: rgba(209,244,230,0.7);
    border-right: @divide-style;
    .menu{
        .item{
            height: 45px;
            .frcc();
            .box{
                cursor: pointer;
                width: 34px;
                height: 34px;
                border-radius: 5px;
                .frcc();
                &:hover{
                    background-color: #EDEDED;
                }
                transition: background-color 0.2s;
            }
        }
    }
}
.sidebar-icon{
    font-size: 22px;
    color: #353549;
    
}
.active-item{
    &>.box{
        background-color: #EDEDED;
    }
    &>.sidebar-icon{
        color: #1A1B40;
    }
}
