@import url(../../../../styles.less);
.sideMain{
    width: 45px;
    height: calc(100vh - 45px);
    // background-color: rgba(209,244,230,0.7);
    border-right: @divide-style;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .menu-list{
        .item{
            height: 45px;
            .frcc();
            .box{
                cursor: pointer;
                width: 34px;
                height: 34px;
                border-radius: 5px;
                .frcc();
                &:hover{
                    background-color: #EDEDED;
                }
                transition: background-color 0.2s;
            }
        }
    }

    .bottom_menu{
        .menu-list();
    }
}
.sidebar-icon{
    font-size: 22px;
    color: #353549;
    
}
.active-item{
    &>.box{
        background-color: #EDEDED;
    }
    &>.sidebar-icon{
        color: #1A1B40;
    }
}
