<div class="sideMain">
    <ul class="menu-list">
        <li class="item" 
            [class.active-item]="isActive('notes')" 
            title="笔记"
            (click)="navigateTo('notes')">
            <div class="box">
                <span class="iconfont icon-document sidebar-icon"></span>
            </div>
        </li>
        <!-- <li class="item" 
            [class.active-item]="isActive('todos')" 
            title="待办"
            (click)="navigateTo('todos')">
            <div class="box">
                <span class="iconfont icon-clipboard_paste sidebar-icon"></span>
            </div>
        </li> -->
        <li class="item"
            [class.active-item]="isActive('recycle')" 
            title="回收站"
            (click)="navigateTo('recycle')">
            <div class="box">
                <span class="iconfont icon-delete sidebar-icon"></span>
            </div>
        </li>
    </ul>
    <div class="menu-bottom">
        <ul class="menu-list">
            <li class="item">
                <div class="box" title="设置" (click)="openSettingsMenu($event)">
                    <span class="iconfont icon-settings sidebar-icon"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-context-menu
    [menuProps]="settingsMenuProps"
    [visible]="settingsMenuVisible"
    [position]="settingsMenuPosition"
    [context]="null"
    (itemSelected)="onSettingsMenuItemSelected()">
</app-context-menu>