<div class="sideMain">
    <ul class="menu">
        <li class="item" 
            [class.active-item]="isActive('notes')" 
            title="笔记"
            (click)="navigateTo('notes')">
            <div class="box">
                <span class="iconfont icon-document sidebar-icon"></span>
            </div>
        </li>
        <li class="item" 
            [class.active-item]="isActive('todos')" 
            title="待办"
            (click)="navigateTo('todos')">
            <div class="box">
                <span class="iconfont icon-clipboard_paste sidebar-icon"></span>
            </div>
        </li>
        <li class="item"
            [class.active-item]="isActive('recycle')" 
            title="回收站"
            (click)="navigateTo('recycle')">
            <div class="box">
                <span class="iconfont icon-delete sidebar-icon"></span>
            </div>
        </li>
    </ul>
</div>