.notes-view {
  display: flex;
  height: 100%;
  width: 100%;
}

.note-list-panel {
  flex: 0 0 300px;
  border-right: 1px solid #e0e0e0;
}

.note-editor-panel {
  // width: 100vw;
  flex: 1;
  min-width: 0;
}
